<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<title>sysSet.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

<link th:href="@{/assets/css/css.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
<style>
body {
	overflow-x: auto;
	background: #f2f0f5;
	padding: 15px 0px 10px 5px;
}

.bggray {
	background: #f9f9f9;
	font-size: 14px;
	padding: 10px 10px 10px 0;
	width: 120px;
}

.main-for input.text-word {
	width: auto;
}

.main-for select {
	width: auto;
}

#main-tab td {
	font-size: 15px;
	line-height: 25px;
}

.main-for {
	padding: 5px;
}

label input {
	cursor: pointer;
}
</style>
</head>
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<script src="/assets/js/clock.js"></script>
<script src="/assets/js/sdmenu.js"></script>
<script src="/assets/js/jquery.common.js"></script>
<div th:replace="manage/common/common_js :: layer"></div>
<script type="text/javascript">
	
</script>
<body>
	<!--main_top-->
	<form id="form">
	<table th:width="99+'%'" th:border="0" th:cellspacing="0"
		th:cellpadding="0" id="searchmain">
		<tr>
			<td th:colspan="6"
			style="text-align: left;padding: 0 10px;color: #2790F7;background:#F4F4F4;height:30px;font-weight: bold;">域名设置</td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">
				<!-- 充值线路设置 -->
				<table th:width="100+'%'" th:border="0" th:cellspacing="0"
					th:cellpadding="0" id="main-line-tab">
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">充值域名：</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom main-for}"
							style="padding: 0;">
							<table th:width="100+'%'" th:border="0" th:cellspacing="0"
								th:cellpadding="0" :controller="set">
								<thead>
									<tr>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 100px;">默认</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 180px;">线路名称</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright">充值域名</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 120px;">端口</th>
										<th data-id="number" th:align="center" th:valign="middle"
											class="borderright btn-group4">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${rechargeLine}" th:each="item,itemStat:${rechargeLine}" th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
										th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<label th:for="${'idDefault-0'+itemStat.index}" class="label-box checkbox2 box-blue">
												<input th:id="${'idDefault-0'+itemStat.index}" type="radio" name="default-0" 
													th:checked="${item.isDefault}" th:class="${item.isDefault?'':'set-default'}">
												<i class="radio default"></i>
											</label>
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="hidden" th:value="${item.id}" name="id"/>
											<input type="hidden" th:value="${item.type}" name="type"/>
											<input type="text" class="table-input-sys" th:value="${item.name}" name="name" placeholder="线路名称"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.domainName}" name="domainName" placeholder="域名"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.port}" name="port" placeholder="端口" style="width:70px;" />
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="button" value="保存" class="btn-check btn-default save">
											<input type="button" value="测试链接" class="btn-check btn-default line-test">
											<input th:id="${item.id}" th:disabled="${item.isDefault}" type="button" 
												value="移除线路" class="btn-check btn-red" th:classappend="${item.isDefault?'':'remove'}">
										</td>
									</tr>
									<tr th:if="!${rechargeLine}">
										<td colspan="7" th:align="center" th:valign="middle"
											class="borderright borderbottom" style="color: red;">请配置充值域名</td>
									</tr>
								</tbody>
								
								<tfoot>
									<tr>
										<td th:align="center" th:valign="middle" class="borderright borderbottom" colspan="7">
											<label th:if="false">
												<input th:name="state" value=true type="radio"  th:text="开启" />												
											</label>
											<label th:if="false" style="margin-left: 20px;"> 
												<input th:name="state" value=false type="radio" th:text="关闭" />&nbsp;&nbsp;&nbsp;&nbsp;
											</label>
											<input type="button" data-type="0" value="添加" class="btn-check btn-blue add-line">
										</td>
									</tr>
								</tfoot>
							</table>
						</td>

					</tr>
				</table>
			</td>
		</tr>
		
		<tr>
			<td th:width="99+'%'" th:align="left" th:valign="top"
				th:style="@{padding: 5px;}"></td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">
			<!-- 商户域名设置 -->
				<table th:width="100+'%'" th:border="0" th:cellspacing="0"
					th:cellpadding="0" id="main-line-tab">
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">商户域名：</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom main-for}"
							style="padding: 0;">
							<table th:width="100+'%'" th:border="0" th:cellspacing="0"
								th:cellpadding="0" :controller="set">
								<thead>
									<tr>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 100px;">默认</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 180px;">线路名称</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright">商户域名</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 120px;">端口</th>
										<th data-id="number" th:align="center" th:valign="middle"
											class="borderright btn-group4">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${merchantLine}" th:each="item,itemStat:${merchantLine}" th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
										th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<label th:for="${'idDefault-1'+itemStat.index}" class="label-box checkbox2 box-blue">
												<input th:id="${'idDefault-1'+itemStat.index}" type="radio" name="default-1" 
													th:checked="${item.isDefault}" th:class="${item.isDefault?'':'set-default'}">
												<i class="radio default"></i>
											</label>
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="hidden" th:value="${item.id}" name="id"/>
											<input type="hidden" th:value="${item.type}" name="type"/>
											<input type="text" class="table-input-sys" th:value="${item.name}" name="name" placeholder="线路名称"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.domainName}" name="domainName" placeholder="域名"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.port}" name="port" placeholder="端口" style="width:70px;" />
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="button" value="保存" class="btn-check btn-default save">
											<input type="button" value="测试链接" class="btn-check btn-default line-test">
											<input th:id="${item.id}" th:disabled="${item.isDefault}" type="button" 
												value="移除线路" class="btn-check btn-red" th:classappend="${item.isDefault?'':'remove'}">
										</td>
									</tr>
									<tr th:if="!${merchantLine}">
										<td colspan="7" th:align="center" th:valign="middle"
											class="borderright borderbottom" style="color: red;">请配置商户域名</td>
									</tr>
								</tbody>
								
								<tfoot>
									<tr >
										<td th:align="center" th:valign="middle" class="borderright borderbottom" colspan="7">
											<input type="button" data-type="1" value="添加" class="btn-check btn-blue add-line">
										</td>
									</tr>
								</tfoot>
							</table>
						</td>

					</tr>
				</table>
			</td>
		</tr>
		
		<tr>
			<td th:width="99+'%'" th:align="left" th:valign="top"
				th:style="@{padding: 5px;}"></td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">
			<!-- IPS统计域名设置 -->
				<table th:width="100+'%'" th:border="0" th:cellspacing="0"
					th:cellpadding="0" id="main-line-tab">
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">IPS统计域名：</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom main-for}"
							style="padding: 0;">
							<table th:width="100+'%'" th:border="0" th:cellspacing="0"
								th:cellpadding="0" :controller="set">
								<thead>
									<tr>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 100px;">默认</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 180px;">线路名称</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright">统计域名</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 120px;">端口</th>
										<th data-id="number" th:align="center" th:valign="middle"
											class="borderright btn-group4">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${statisticsLine}" th:each="item,itemStat:${statisticsLine}" th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
										th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<label th:for="${'idDefault-3'+itemStat.index}" class="label-box checkbox2 box-blue">
												<input th:id="${'idDefault-3'+itemStat.index}" type="radio" name="default-3" 
													th:checked="${item.isDefault}" th:class="${item.isDefault?'':'set-default'}">
												<i class="radio default"></i>
											</label>
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="hidden" th:value="${item.id}" name="id"/>
											<input type="hidden" th:value="${item.type}" name="type"/>
											<input type="text" class="table-input-sys" th:value="${item.name}" name="name" placeholder="线路名称"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.domainName}" name="domainName" placeholder="域名"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.port}" name="port" placeholder="端口" style="width:70px;" />
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="button" value="保存" class="btn-check btn-default save">
											<input type="button" value="测试链接" class="btn-check btn-default line-test">
											<input th:id="${item.id}" th:disabled="${item.isDefault}" type="button" 
												value="移除线路" class="btn-check btn-red" th:classappend="${item.isDefault?'':'remove'}">
										</td>
									</tr>
									<tr th:if="!${statisticsLine}">
										<td colspan="7" th:align="center" th:valign="middle"
											class="borderright borderbottom" style="color: red;">请配置统计域名</td>
									</tr>
								</tbody>
								
								<tfoot>
									<tr >
										<td th:align="center" th:valign="middle" class="borderright borderbottom" colspan="7">
											<input type="button" data-type="3" value="添加" class="btn-check btn-blue add-line">
										</td>
									</tr>
								</tfoot>
							</table>
						</td>

					</tr>
				</table>
			</td>
		</tr>
		
		<tr>
			<td th:align="left" th:valign="top" style="padding: 5px;width: 99%;"></td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">
			<!-- 总后台域名设置 -->
				<table th:width="100+'%'" th:border="0" th:cellspacing="0"
					th:cellpadding="0" id="main-line-tab">
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">总后台域名：</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom main-for}"
							style="padding: 0;">
							<table th:width="100+'%'" th:border="0" th:cellspacing="0"
								th:cellpadding="0" :controller="set">
								<thead>
									<tr>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 100px;">默认</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 180px;">线路名称</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright">总后台域名</th>
										<th data-id="number" th:align="center" th:valign="middle"
											th:class="borderright" style="width: 120px;">端口</th>
										<th data-id="number" th:align="center" th:valign="middle"
											class="borderright btn-group4">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${manageLine}" th:each="item,itemStat:${manageLine}" th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
										th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<label th:for="${'idDefault-2'+itemStat.index}" class="label-box checkbox2 box-blue">
												<input th:id="${'idDefault-2'+itemStat.index}" type="radio" name="default-2" 
													th:checked="${item.isDefault}" th:class="${item.isDefault?'':'set-default'}">
												<i class="radio default"></i>
											</label>
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="hidden" th:value="${item.id}" name="id"/>
											<input type="hidden" th:value="${item.type}" name="type"/>
											<input type="text" class="table-input-sys" th:value="${item.name}" name="name" placeholder="线路名称"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.domainName}" name="domainName" placeholder="域名"/></td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="text" class="table-input-sys" th:value="${item.port}" name="port" placeholder="端口" style="width:70px;" />
										</td>
										<td th:align="center" th:valign="middle" class="borderright borderbottom">
											<input type="button" value="保存" class="btn-check btn-default save">
											<input type="button" value="测试链接" class="btn-check btn-default line-test">
											<input th:id="${item.id}" th:disabled="${item.isDefault}" type="button" 
												value="移除线路" class="btn-check btn-red" th:classappend="${item.isDefault?'':'remove'}">
										</td>
									</tr>
									<tr th:if="!${manageLine}">
										<td colspan="7" th:align="center" th:valign="middle"
											class="borderright borderbottom" style="color: red;">请设置总后台域名</td>
									</tr>
								</tbody>
								
								<tfoot>
									<tr >
										<td th:align="center" th:valign="middle" class="borderright borderbottom" colspan="7">
											<input type="button" data-type="2" value="添加" class="btn-check btn-blue add-line">
										</td>
									</tr>
								</tfoot>
							</table>
						</td>

					</tr>
				</table>
			</td>
		</tr>
	</table>
	<p style="margin: 5px 0;text-align: center;font-size: 15px;color:red">提示：必须填写顶级域名且不可带参数，域名设置后即时生效</p>
	</form>
	<div th:replace="manage/common/common_js :: work"></div>
	<script id="line-template" type="html">
		<tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
			<td th:align="center" th:valign="middle" class="borderright borderbottom">
				<label class="label-box checkbox2 box-blue">
					<input type="radio" name="default-2" disabled>
					<i class="radio default"></i>
				</label>
			</td>
			<td align="center" valign="middle" class="borderright borderbottom">
				<input type="hidden" value="@TYPE@" name="type"/>
				<input type="text" class="table-input-sys" name="name" placeholder="线路名称"/></td>
			<td align="center" valign="middle" class="borderright borderbottom">
				<input type="text" class="table-input-sys" name="domainName" placeholder="域名"/></td>
			<td align="center" valign="middle" class="borderright borderbottom">
				<input type="text" class="table-input-sys" name="port" value="80" placeholder="端口" style="width:70px;" />
			</td>
			<td align="center" valign="middle" class="borderright borderbottom">
				<input type="button" value="保存" class="btn-check btn-default" onclick="add(this)">
				<input type="button" value="测试链接" class="btn-check btn-default" onclick="test(this)">
				<input type="button" value="移除线路" class="btn-check btn-red" onclick="remove(this)">
			</td>
		</tr>
	</script>
	<script>
		var validate = function(_tr) {
			var _input = _tr.find("input[type=text]");
			for (var i = 0; i < _input.length; i++) {
				if (_input[i].value == "") {
					_input[i].focus();
					parent.error("请输入" + _input[i].getAttribute("placeholder"), 1000);
					return false;
				}
			}
			return true;
		};
		var add = function(ele) {
			var _tr = $(ele).parent().parent();
			if (validate(_tr)) {
				parent.saveLine(_tr.find("input").serialize());
			}
		};
		var test = function(ele) {
			var _tr = $(ele).parent().parent();
			if (validate(_tr)) {
				parent.testLine(_tr.find("input").serialize());
			}
		};
		var remove = function(ele) {
			$(ele).parent().parent().remove();
		};
		$(function() {
			var line_template = $("#line-template").text();
			$(".save").on("click", function() {
				add(this);
			});
			$(".add-line").on("click", function() {
				$(this).parents("tfoot").prev().append(
					line_template.replace("@TYPE@", $(this).attr("data-type")));
			});
			$(".set-default").on("click", function() {
				var _tr = $(this).parent().parent().parent();
				var id = _tr.find("[name=id]").val();
				var type = _tr.find("[name=type]").val();
				(id && type) && parent.defaults(id, type);
			});
			$(".line-test").on("click", function() {
				test(this);
			});
			$(".remove").on("click", function() {
				var _this = this;
				if (_this.id) {
					parent.removeLine({
						id: _this.id,
						render: function() {
							remove(_this);
						}
					});
				} else {
					remove(_this);
				}
			});
		});
	</script>
</body>
</html>
