<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="merchant/common/common :: head"></head>

<body>
	<!-- header -->
	<div th:replace="merchant/common/common :: header"></div>
	<!-- header End-->

	<!-- page-content -->
	<div id="page-content" class="page-content">
		<!-- control -->
		<div th:replace="merchant/common/common :: control"></div>
		<!-- control End-->

		<!-- content -->
		<div class="content">
			<div class="content-title"><span class="title">用户日志</span></div>
			
			<form id="search" :controller="log">
				<div class="cxl_tiXian">
					<p>注意事项：1. 为保证更好的用户体验，请不定期的清理您的访问日志。</p>
					<p>　　　　　2. 日志清除功能会保留您最近三天内的操作日志。</p>
					<button type="button" class="btn" style="position: absolute;right: 5px;bottom: 5px;" :click="@render.clean">清除日志</button>
				</div>
				
				<div class="content-body no-padding" id="table-content-ie" style="margin-top: 20px;">
					<div class="load-box"></div>
					
					<table class="table table-hover">
						<caption th:replace="merchant/common/common :: table-caption"></caption>
						<thead>
							<tr>
								<th>日　期</th>
								<th>日志记录</th>
								<th>访问IP</th>
								<th>描述</th>
							</tr>
						</thead>
						<tbody>
							<tr :for="($index, item) in @data.content">
								<td>
									<p class="tab-p-heard" :text="@item.dateTime | date('yyyy-MM-dd')"></p>
									<p class="text-gray" :text="@item.dateTime | date('HH:mm:ss')"></p>
								</td>
								<td :text="@item.discription"></td>
								<td :text="@item.ip"></td>
								<td class="text-green" :text="@item.message"></td>
							</tr>
							<tr :if="@data.totalElements < 1"><td colspan="4">暂无记录！</td></tr>
						</tbody>
						<tfoot th:replace="merchant/common/common :: table-tfoot(4)"></tfoot>
					</table>
				</div>
			</form>
			
		</div>
		<!-- content End-->
	</div>
	<!-- getway -->
	<div th:replace="merchant/common/common :: getway"></div>
	<!-- getway End-->
	
	<script type="text/javascript" src="/assets/js/jquery.common.js"></script>
	<script type="text/javascript" src="/assets/js/options.min.js"></script>
	<script type="text/javascript">
		var paging = $.paging("log", {
			clean: function() {
				var callback = this.callback;
				$.confirm({
					content: "\u662f\u5426\u786e\u5b9a\u6e05\u9664\u65e5\u5fd7\uff1f",
					yes: function() {
						$.ajax({
							url: "log/clean",
							success: function(data) {
								$.modalmsg(data.msg);
								if (data.state)
									callback();
							}
						});
						return true;
					}
				});
			}
		});
	</script>
</body>
</html>