<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="merchant/common/common :: head"></head>

<body>
	<!-- header -->
	<div th:replace="merchant/common/common :: header"></div>
	<!-- header End-->

	<!-- page-content -->
	<div id="page-content" class="page-content">
		<!-- control -->
		<div th:replace="merchant/common/common :: control"></div>
		<!-- control End-->

		<!-- content -->
		<div class="content">
			<div class="content-title"><span class="title">提现申请</span></div>
			
			<div class="content-body no-padding">
				<div class="cxl_tiXian">
					<p>提现声明：请不要同一天内屡次小额提现，这种情况属于恶意提现，以免财务结算时产生错误对你造成损失。</p>
					<p>到账时间：特殊情况除外，如超过12小时不到账，请与客服联系。</p>
					<p>注意事项：系统结算时间内，提现功能暂不可使用。</p>
					<a href="takerecord.html" class="btn btn-primary" style="position: absolute;right: 5px;top: 105px">查看提现记录</a>
				</div>
					
				<form :controller="bankInfo" :validate="@validate">
					<table id="take-money" th:object="${bank}">
						<tbody :skip="true">
							<tr th:if="*{state}">
								<th>账户余额：</th>
								<td class="text-green">
									<span class="h3">
										<span  th:if="*{state}" th:text="*{overMoney}"></span> 元
									</span>
								</td>
							</tr>
							<tr th:if="*{frozen > 0 or !state}">
								<th>冻结金额：</th>
								<td class="text-gray h3">
									<s th:text="*{state?frozen:overMoney}"></s> 元
									<span th:if="*{!state}" class="lable lable-right danger" style="margin-left: 15px;">已冻结</span>
								</td>
							</tr>
							<tr>
								<th>手续费：</th>
								<td class="text-red h3">
									<span th:text="*{fee}"></span> 元
								</td>
							</tr>
							<tr>
								<th>银行：</th>
								<td th:text="*{bankName}"></td>
							</tr>
							<tr>
								<th>收款人：</th>
								<td th:text="*{realName}"></td>
							</tr>
							<tr>
								<th>银行账号：</th>
								<td>
									<span th:text="*{bankNumber}">
										**** **** **** **** ***
									</span>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>申请金额：</th>
								<td>
									<input name="amount" type="text" class="form-control" autofocus="autofocus" style="width:100px;" placeholder="输入金额" 
									:duplex="@data.amount" th:attr="ms-rules='{number: true,min: 1,max: '+*{overMoney-frozen-fee}+'}'" th:readonly="*{!state or (overMoney-frozen) <= fee}">
									<span th:if="*{overMoney-frozen > fee}" class="text-aqua">(≤ <span th:text="*{state?overMoney-frozen-fee:0.00}"></span> 元)</span>
									<span th:unless="*{overMoney-frozen > fee}" class="text-red">&nbsp;可提现金额不足！</span>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button id="takeMoney" type="button" class="btn" th:attr="ms-on-click=*{state and overMoney > fee}?'@save':''" th:disabled="*{!state or overMoney <= fee}">确定提现</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
		<!-- content End-->
	</div>
	
	<!-- getway -->
	<div th:replace="merchant/common/common :: getway"></div>
	<!-- getway End-->
	
	<script type="text/javascript" src="/assets/js/jquery.common.js"></script>
	<script type="text/javascript" src="/assets/js/options.min.js"></script>
	<script th:if="${bank.bankMark == null}" type="text/javascript">
		$.confirm({
			content: "请前往完善银行账户信息？",
			yes: function() {
				window.location.href = "profile.html";
			}
		});
	</script>
	<script type="text/javascript">
		var bank = $._option({
			$id: "bankInfo",
			url: "takemoney",
			flash: true,
			data: {amount: ""}
		});
	</script>
</body>
</html>