<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<link th:href="@{/assets/css/login.css}" rel="stylesheet" type="text/css">
<head th:replace="manage/common/header :: commonHeader('总管理后台')"></head>
<script type="text/javascript">
	if (window.top!=null && window.top.document.URL!=document.URL){  
		window.top.location= document.URL;
	}
</script>
<body onkeydown="if(event.keyCode==13){login();}">
	<div th:class="Main">
		<ul>
			<li th:class="top"></li>
			<li th:class="top2"></li>
			<li th:class="topA"></li>
			<li th:class="topB"><span><img
					th:src="@{/assets/images/web/logo.png}"
					th:style="@{margin-top:50px;}" th:width="@{250px;}"/></span></li>
			<li th:class="topC"></li>
			<li th:class="topD">
				<form id="loginForm">
					<input type="hidden" id="cip"> 
					<input type="hidden" id="cname">
					<ul th:class="login">
						<li><span th:class="@{left login-text}">用户名：</span> <span
							style="left"><input id="username" type="text"
								th:class="txt" th:name="username" th:placeholder="请输入用户名" /></span></li>
						<li><span th:class="@{left login-text}">密　码：</span> <span
							style="left"><input id="password" type="password"
								th:class="txt" th:name="password" th:placeholder="请输入登录密码"/></span></li>
					</ul>
				</form>
			</li>
			<li th:class="topE"></li>
			<li th:class="middle_A"></li>
			<li th:class="middle_B"></li>
			<li th:class="middle_C"><span class="btn"><input
					th:onclick="'javascript:login();return false;'" type="image"
					th:src="@{/assets/images/login/btnlogin.gif}" /></span></li>
			<li th:class="middle_D"></li>
			<li th:class="bottom_A"></li>
			<li th:class="bottom_B" style="color: #fff;">后台管理系统</li>
		</ul>
	</div>
	<div th:replace="manage/common/common_js :: basic"></div>
	<div th:replace="manage/common/common_js :: layer"></div>
	<div th:replace="manage/common/common_js :: work"></div>
	<script th:src="@{http://pv.sohu.com/cityjson?ie=utf-8}"></script>
	<script>
		$("#cname").val(returnCitySN["cname"]);
		$("#cip").val(returnCitySN["cip"]);
	</script>
</body>
</html>
