<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>list.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<link th:href="@{/assets/css/css.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
<style>
body {
	overflow-x: auto;
	background: #f2f0f5;
	padding: 15px 0px 10px 5px;
}
</style>
</head>
<div th:replace="manage/common/common_js :: basic"></div>
<body>
	<form id="form" :controller="log">
	<!--main_top-->
	<table th:width="99+'%'" th:border="0" th:cellspacing="0"
		th:cellpadding="0" id="searchmain">
		<tr>
			<td th:width="99+'%'" th:align="left" th:valign="top">您的位置：<span
				th:text="日志列表"></span>
			</td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">
				<div th:class="searchDiv" th:align="left">
					<div th:class="search-input">
						<div th:class="search-input-top">
							<span id="paging">每页数量：</span>
							<div th:replace="manage/common/common_js :: pageSize"></div>
						</div>
					</div>						
					<div>
						<input type="button" th:value="清除日志数据" th:class="@{btn-check btn-red}"
							:click="@render.clear" 
							style="width: 110px;margin-top: 3px;float: right;margin-right: 10px;">
					</div>
			    </div>
			</td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">

				<table th:width="100+'%'" th:border="0" th:cellspacing="0"
					th:cellpadding="0" id="main-tab">
					<thead id="tableTitle">
						<tr>						
							<th th:align="center" th:valign="middle" th:class="borderright">编号</th>
							<th th:align="center" th:valign="middle" th:class="borderright">访问时间</th>
							<th th:align="center" th:valign="middle" th:class="borderright">访问IP</th>
							<th th:align="center" th:valign="middle" th:class="borderright">访问地址</th>
							<th th:align="center" th:valign="middle" th:class="borderright">操作描述</th>
							<th th:align="center" th:valign="middle" th:class="borderright">访问用户</th>
						</tr>
					</thead>
					<tbody id="dataBody" :for="($index,item) in @data.content">
						<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
							th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">							
							<td th:align="center" th:valign="middle"
								th:class="@{borderright borderbottom}"
								:text="$index + 1"></td>
							<td th:align="center" th:valign="middle"
								th:class="@{borderright borderbottom}" :text="@item.dateTime | date('yyyy-MM-dd HH:mm:ss')"></td>
							<td th:align="center" th:valign="middle"
								th:class="@{borderright borderbottom}">
								<span :text="@item.ip" style="color:green"></span>
							</td>
							<td th:align="center" th:valign="middle"
								th:class="@{borderright borderbottom}">
								<span :text="@item.location" style="color:red"></span>
							</td>													
							<td th:align="center" th:valign="middle"
								th:class="@{borderright borderbottom}">
								<span :text="@item.discription"></span>
							</td>
							<td th:align="center" th:valign="middle"
								th:class="@{borderright borderbottom}">
								<span :text="@item.userName"></span>
							</td>
						</tr>
					</tbody>					
				</table>
			</td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top" th:class="fenye"
				th:style="@{text-align: left;}">
				<div th:replace="manage/common/common_js :: fenye"></div>
			</td>
		</tr>
	</table>
	</form>
	<div th:replace="manage/common/common_js :: work"></div>
	<script>
		var options = {
			clear:function(){
				window.parent.layer.confirm('将清除一周以前的所有日志数据,是否清除？', {
	           		 btn : [ '确定', '取消' ]//按钮
	       		 	}, function() {
	       		 	ajaxSend("get","/man/log/clear",null,function(data){
	       		 		if(data.state){
	       		 			window.parent.success(data.msg,2000,function(){
	       		 				mainFrame.location.reload();
	       		 			});
	       		 		}else{
	       		 			window.parent.error(data.msg,2000);
	       		 		}
	       		 	});
	       		}); 
			}
		}
		var paging = $.paging("log",options,"#form");
	</script>
</body>
</html>