<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>rate.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <link th:href="@{/assets/css/css.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
	<script th:src="@{/assets/js/clock.js}"></script>
	<script th:src="@{/assets/js/sdmenu.js}"></script>
	<script th:src="@{/assets/js/jquery.common.js}"></script>
  </head>
  <body>
  	<form id="form">
    <table th:width="100+'%'" th:border="0" th:cellspacing="0"
		th:cellpadding="0" id="main-tab">
		<thead>
		<tr onmouseout="style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
			<td th:align='center' th:valign='middle' th:class='@{borderright borderbottom bggray font-weight}' style="width:96px;">通道</td>
			<td th:align='center' th:valign='middle' th:class='@{borderright borderbottom main-for}'>
				<input class="text-word" type="text" th:value="${gallery.name}" style="width:100%;text-align: center;padding:0;border:0;color:red;" readonly="readonly">
			</td>
			<td th:align='center' th:valign='middle' th:class='@{borderright borderbottom bggray font-weight}' style="width:96px;">费率</td>
			<td th:align='center' th:valign='middle' th:class='@{borderright borderbottom main-for}'>
				<input class="text-word" data-set="g-rate" type="text" placeholder="一键设置费率 0-100" style="width:100%">
			</td>
			<td th:align='center' th:valign='middle' th:class='@{borderright borderbottom bggray font-weight}' style="width:96px;">地址</td>
			<td th:align='center' th:valign='middle' th:class='@{borderright borderbottom main-for}'>
				<input class="text-word"  data-set="g-url" type="text" placeholder="一键设置提交地址" style="width:100%">
			</td>
		</tr>
		</thead>
		<tbody>
			<tr onmouseout="style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'" th:each="item,itemStat:${rates}">
				<td th:each="rate,rateStat:${item}" style="padding: 0;" colspan="2">
					<table th:border="0" th:cellspacing="0" th:cellpadding="0" style="width: 100%">
						<tr>
							<td th:align='center' th:valign='middle' class='borderright borderbottom' style="width:96px;" th:text="${rate.productName}"></td>
							<td th:align='center' th:valign='middle' class='borderright borderbottom main-for' th:with="index=${itemStat.index*3+rateStat.index}">
								<input type="hidden" th:value="${rate.id}" th:name="${'galleryRate['+index+'].id'}">
								<input type="hidden" th:value="${gallery.id}" th:name="${'galleryRate['+index+'].gallery.id'}">
								<input type="hidden" th:value="${rate.productId}" th:name="${'galleryRate['+index+'].product.id'}">
								<input class="text-word g-rate rate-left" type="text" th:value="${rate.rate}" th:name="${'galleryRate['+index+'].rate'}">
								<input class="text-word g-url rate-right" type="text" th:value="${rate.reqUrl}" th:name="${'galleryRate['+index+'].reqUrl'}">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr th:onmouseout="@{this.style.backgroundColor=&quot;#ffffff&quot;}"
				th:onmouseover="@{this.style.backgroundColor=&quot;#edf5ff&quot;}"
				th:style="@{background-color: rgb(255, 255, 255);}">
				<td th:colspan="6" class="main-for" style="text-align: center;">
					<input type="button" id="saveRate" value="提交" class="text-but">
				</td>
			</tr>
		</tfoot>
	</table>
	</form>
	<div th:replace="manage/common/common_js :: work"></div>
	<script>
		$("[data-set]").on("input", function() {
			$("." + $(this).attr("data-set")).val(this.value);
		});
		
		$("#saveRate").on("click", function() {
			var error = false;
			$(".g-rate,.g-url").each(function(i, element) {
				if(!element.value) {
					element.focus();
					parent.error("不能为空", 1500);
					error = true;
					return false;
				} else if (element.className.indexOf("g-rate") > -1) {
					if (isNaN(element.value) || element.value < 0 || element.value > 100) {
						element.focus();
						parent.error("费率只允许0-100", 1500);
						error = true;
						return false;
					}
				}
			});
			
			if (!error) {
				ajaxSend("post", "/man/gallery/rate/save", $("#form").serialize(), function(data) {
					window.parent.success(data.msg, 2000);
					if (data.state) {
						var index = window.parent.layer.getFrameIndex(window.name);
						window.parent.layer.close(index);
					}
				});
			}
		});
	</script>
  </body>
</html>