<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>save.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

<link th:href="@{/assets/css/css.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
</head>
<div th:replace="manage/common/common_js :: basic"></div>
<body>
	<form id="form" :controller="role">
		<table th:width="100+'%'" th:border="0" th:cellspacing="0"
			th:cellpadding="0" id="main-tab">
			<tbody th:class="@{active-tb baseInfo}">
				<tr onmouseout="style.backgroundColor='#ffffff'"
					onMouseOver="this.style.backgroundColor='#edf5ff'">
					<td th:align='center' th:valign='middle'
						th:class='@{borderright borderbottom bggray font-weight}'>角色标识</td>
					<td th:align='center' th:valign='middle'
						th:class='@{borderright borderbottom main-for}'>
						<input th:class="text-word" type="text" name="mark" placeholder="角色标识" th:style="@{width:100%}"></td>
					
				</tr>
				<tr onmouseout="style.backgroundColor='#ffffff'"
					onMouseOver="this.style.backgroundColor='#edf5ff'">
					<td th:align='center' th:valign='middle'
						th:class='@{borderright borderbottom bggray font-weight}'>角色描述</td>
					<td th:align='center' th:valign='middle'
						th:class='@{borderright borderbottom main-for}'>
						<input th:class="text-word" type="text" name="des" placeholder="如:超级管理员" th:style="@{width:100%}"></td>					
				</tr>
			</tbody>
			<tfoot>
				<tr
					th:onmouseout="@{this.style.backgroundColor=&quot;#ffffff&quot;}"
					th:onmouseover="@{this.style.backgroundColor=&quot;#edf5ff&quot;}"
					th:style="@{background-color: rgb(255, 255, 255);}">
					<td th:colspan="2" th:class="@{main-for}"
						th:style="@{text-align: center;}"><input type="button"
						th:value="提交" th:class="@{text-but}" :click="@render.add"></td>
				</tr>
			</tfoot>
		</table>
	</form>
	<div th:replace="manage/common/common_js :: work"></div>
	<script th:inline="javascript">
	
		if ([[${flag}]]){
			$("input[name='mark']").val([[${role.mark}]]);
			$("input[name='des']").val([[${role.des}]]);
		}
		
		var options = {
			id:{
				id:"role"
			},
			render:{
				add:function(){
					var url = "/man/role/save";var data = {};
					if (![[${flag}]]){
						data = {
							mark : $("input[name='mark']").val(),
							des : $("input[name='des']").val()
						}					
					}else{
						data = {
							id : [[${role.id}]],
							mark : $("input[name='mark']").val(),
							des : $("input[name='des']").val()
						}	
					}
					ajaxSend("post",url,data,function(data){
						if (data.state){
							window.parent.success(data.msg,2000);
						}else{
							window.parent.error(data.msg,2000);
						}
					});
				}
			}
		}				
		var vm = work(options);
	</script>
</body>
</html>
