<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>list.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<link th:href="@{/assets/css/css.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
<style>
body {
	overflow-x: auto;
	background: #f2f0f5;
	padding: 15px 0px 10px 5px;
}
</style>
</head>
<div th:replace="manage/common/common_js :: basic"></div>
<body>
	<!--main_top-->

	<form id="searchForm" :controller="product">
		<table th:width="99+'%'" th:border="0" th:cellspacing="0"
			th:cellpadding="0" id="searchmain">
			<tr>
				<td th:width="99+'%'" th:align="left" th:valign="top">您的位置：<span
					th:text="产品列表"></span>
				</td>
			</tr>
			<tr>
				<td th:align="left" th:valign="top">



					<div th:class="searchDiv" th:align="left">
						<div th:class="search-input">
							<div th:class="search-input-top">
								<span id="paging">每页数量：</span>
								<div th:replace="manage/common/common_js :: pageSize"></div>
							</div>
						</div>
						
						<div th:class="search-input">
							<div th:class="search-input-top">
								<span >产品类型：</span> 
								<select th:class="@{level}"  name="type" :change="@change">
									<option value="">-请选择-</option>
									<option value="0">普通产品</option>
									<option value="1">网银产品</option>
								</select>
							</div>
						</div>

						<div th:class="search-input">
							<div th:class="search-input-top">
								<span style="width:55%;padding: 2px 0 0;">一键切换网银通道：</span>
								<select id="gallery" class="level" style="width:45%" :change="@render.switchs()">
									<option value="">-全部-</option>
									<option ms-attr="{value:item.id}" :for="($index,item) in @extra" :if="@item.support.ebank">{{item.name}}</option>
								</select>
							</div>

						</div>

						<div th:class="search-input">
							<div th:class="search-input-top">
								<div>
									<input :click="@render.add"
										type="button" th:value="添加"
										th:class="@{btn-check btn-default btn-query}">
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td th:align="left" th:valign="top">

					<table th:width="100+'%'" th:border="0" th:cellspacing="0"
						th:cellpadding="0" id="main-tab">
						<thead id="tableTitle">
							<tr>
								<th th:align="center" th:valign="middle" class="borderright">排序号</th>
								<th th:align="center" th:valign="middle" class="borderright">产品名称</th>
								<th th:align="center" th:valign="middle" class="borderright">产品面值</th>
								<th th:align="center" th:valign="middle" class="borderright">默认通道</th>
								<th th:align="center" th:valign="middle" class="borderright">状态</th>
								<th th:align="center" th:valign="middle" class="borderright btn-group3">操作</th>
							</tr>
						</thead>
						<tbody id="dataBody">
							<tr :for="($index, item) in @data.content" th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
								th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
								<td th:align="center" th:valign="middle"
									class="borderright borderbottom">
									<input type="text" style="width:40px;text-align: center;border-radius: 2px;border: 1px;" :duplex="@item.sort" :change="@render.sort(@item.id,@item.sort)"/>
								</td>
								<td th:align="center" th:valign="middle"
									class="borderright borderbottom" :text="@item.name"></td>
								<td th:align="center" th:valign="middle"
									class="borderright borderbottom" th:text="@{不限}"></td>
								<td th:align="center" th:valign="middle" class="borderright borderbottom"
									:text="@item.galleryName|parseNull('--')"></td>
								<td th:align="center" th:valign="middle"
									class="borderright borderbottom">
									<label :attr="{for:'switch-'+$index}" class="label-box no-margin">
										<input :attr="{id:'switch-'+$index}" type="checkbox" :duplex-checked="@item.state" :click="@render.enable(item)"/>
										<span class="box-switch swith-blue enable dis"><i></i></span>
									</label>
								</td>
								<td th:align="center" th:valign="middle" class="borderright borderbottom">
									<div class="btn-group">
										<input type="button" th:value="编辑" class="btn-check btn-default" :click="@render.edit(item)">
										<input type="button" th:value="删除" class="btn-check btn-red" :click="@render.del(item.id)">
									</div>
								</td>
							</tr>
							<tr :if="@data.totalElements < 1">
								<td colspan="6">暂无记录！</td>
							</tr>
						</tbody>

					</table>
				</td>
			</tr>
			<tr>
				<td th:align="left" th:valign="top" th:class="fenye"
					th:style="@{text-align: left;}">
					<div th:replace="manage/common/common_js :: fenye"></div>
				</td>
			</tr>
		</table>
	</form>
	<script>
		var options = {
			enable : function(e) {
				window.parent.ajaxSend("post", "/man/product/state", {
					id : e.id
				}, function(data) {
					result(data);
				});
			},
			add:function(){
				window.parent.product();
			},
			edit:function(e){
				window.parent.product(e);
			},
			switchs:function(){
				var galleryId = $("#gallery option:selected").val();
				galleryId && window.parent.ajaxSend("get","/man/product/switch",{"id":galleryId},function(data){
					if(data.state){
						paging.query();
						window.parent.success(data.msg,2000);
					}else{
						window.parent.error(data.msg,2000);
					}
				});
			},
			del:function(e){
				window.parent.del("/man/product/del",e,"是否确定删除该产品?");
			},
			sort:function(id,sort){
				var param = {
					id:id,
					sort:sort
				}
				window.parent.ajaxSend("post","/man/product/sort",param,function(data){
					if(data.state){
						paging.query();
						window.parent.success(data.msg,1000);
					}else{
						window.parent.error(data.msg,2000);
					}
				});		
			}
		}
		var paging = $.paging("product", options, "#searchForm");
		
		function result(data) {
			if (data.state) {
				paging.query();
				window.parent.success(data.msg,1500);
			} else {
				window.parent.error(data.msg,1500);
			}
		}
		
		window.parent.ajaxSend("get","/man/gallerys",null,function(data){
			paging.extra= data;
		});
	</script>
</body>
</html>
