<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>edit.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<link th:href="@{/assets/css/css.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
<style>
body {
	overflow-x: auto;
	background: #f2f0f5;
	padding: 15px 0px 10px 5px;
}

select.level {
	width: 10%;
	height: 24px;
	margin: 8px 0 6px 0;
	float: left;
	line-height: 36px;
	border: #ebebeb 1px solid;
	background: #FFF;
	font-family: "Microsoft YaHei", "Tahoma", "Arial", '宋体';
	color: #666;
}

@media ( max-width : 900px) {
	.main-for select {
		width: 50%;
	}
	.main-for input.text-word {
		width: auto;
	}
}
</style>
</head>
<div th:replace="manage/common/common_js :: basic"></div>
<body>
	<form id="form" :controller="detail">
	<!--main_top-->
	<table th:width="99+'%'" th:border="0" th:cellspacing="0"
		th:cellpadding="0" id="searchmain">
		<tr>
			<td th:width="99+'%'" th:align="left" th:valign="top">您的位置：编辑商户</td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top" id="addinfo"><a
				th:href="'javascript:window.history.go(-1)'" th:target="mainFrame" th:title="点击返回商户列表"
				th:onFocus="'javascript:this.blur()'" th:class="add"
				th:style="@{background: url(/assets/images/main/replayblack.jpg) no-repeat 0 0px;}">返回上一级</a>
			</td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">
				<table th:width="100+'%'" th:border="0" th:cellspacing="0"
					th:cellpadding="0" id="main-line-tab">
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom main-for}"
							th:style="@{padding: 0;}">
							<table th:width="100+'%'" th:border="0" th:cellspacing="0"
								th:cellpadding="0">
								<thead>
									<tr>
										<th
											th:style="@{text-align: left;padding: 0 10px;color: #2790F7;}">银行信息</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">账户名</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">开户银行</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">开户地区</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">银行卡号</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">账户余额</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">总存入</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">总支出</th>
										<th th:align="center" th:valign="middle"
											th:class="borderright">操作</th>
									</tr>
								</thead>
								<tbody id="bankBody">
									<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
										th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}"><input type="hidden" name="bankId" :duplex="@dup.bank.id"></td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}" :text="@dup.bank.realName"></td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}" :text="@dup.bank.bankName"></td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}" :text="@dup.bank.bankBranch"></td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}"
											:text="@dup.bank.bankNumber"></td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}"><b
											style="color: #FF0000;">
											<span :text="@dup.bank.overMoney | number(2)" style="color:green;">0.00</span></b>
										</td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}"><b
											style="color: #FF0000;">
											<span :text="@dup.bank.allDeposit | number(2)" style="color:green;">0.00</span></b>
										</td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}"><b
											style="color: #FF0000;">
											<span :text="@dup.bank.allPay | number(2)">0.00</span></b>
										</td>
										<td th:align="center" th:valign="middle"
											th:class="@{borderright borderbottom}">
											<input type="button" th:value="编辑" :click="@render.edit(@dup.bank)" th:class="@{btn-check btn-default}"> 
											<input :click="@render.frozen(@dup.bank.id)" type="button" :if="@dup.bank.state" th:value="冻结账户" th:class="@{btn-check btn-red}" th:style="@{margin-left:5px;}">
											<input :click="@render.frozen(@dup.bank.id)" type="button" :if="!@dup.bank.state" th:value="解冻账户" th:class="@{btn-check btn-red}" th:style="@{margin-left:5px;}">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td th:width="99+'%'" th:align="left" th:valign="top"
				th:style="@{padding: 5px;}"></td>
		</tr>
		<tr>
			<td th:align="left" th:valign="top">
				<table th:width="100+'%'" th:border="0" th:cellspacing="0"
					th:cellpadding="0" id="main-tab">
					<thead>
						<tr>
							<th th:colspan="5"
								th:style="@{text-align: left;padding: 0 10px;color: #2790F7;height: 45px;background: url('/assets/images/main/list_bg2.jpg') repeat-x;background-position-y: -19px;}">基本信息</th>
							<th
								th:style="@{text-align: right;padding: 0 10px;color: #2790F7;height: 45px;background: url('/assets/images/main/list_bg2.jpg') repeat-x;background-position-y: -19px;}">
								<input :click="@render.reset" type="button"
								th:value="重置密码" th:class="@{btn-check btn-default}">
							</th>
						</tr>
					</thead>
					<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
						th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">用户名：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="nickname" th:class="text-word" :duplex="@dup.nickname">
						</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">商户账号：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="account" th:class="text-word" :duplex="@dup.account">
							<input type="hidden" name="id" :duplex="@dup.id"/>
						</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">注册时间：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="joinDate" th:class="text-word" readonly="readonly" :duplex="@dup.joinDate | date('yyyy-MM-dd HH:mm:ss')">
						</td>
					</tr>
					<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
						th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">比率组：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="rank.id" :duplex="@dup.rankId">
							    <option value="">&nbsp;&nbsp;-全部-</option>
							    <option th:each="item:${rank}" th:if="${merchant.parentId == item.merchantId or item.merchantId == null}" th:value="${item.id}" th:text="${item.name}"></option>
						    </select>
						</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">代理父ID：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="parent.id" th:class="text-word" placeholder="输入代理上级ID" :duplex="@dup.parentId == null ? '' : @dup.parentId"></td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">商户类型：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="type" :duplex="@dup.type">
								<option value=true th:text="代理商户"></option>
								<option value=false th:text="普通商户"></option>
							</select>
						</td>
					</tr>
					<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
						th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">网站名：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" th:value="爱玩在线" th:class="text-word"></td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">网站域名：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" th:value="www.baidu.com" th:class="text-word"></td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">客服电话：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="servicePhone" th:class="text-word" :duplex="@dup.servicePhone == null ? '--' : @dup.servicePhone"></td>
					</tr>
					<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
						th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">商户ＱＱ：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="qqNumber" th:class="text-word" :duplex="@dup.qqNumber == null ? '--' : @dup.qqNumber"></td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">提现手续费：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="fee" th:class="text-word" :duplex="@dup.fee | number(2)" style="color:red"></td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">客服ＱＱ：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="serviceQQ" th:class="text-word" :duplex="@dup.serviceQQ == null ? '--' : @dup.serviceQQ"></td>
					</tr>
					<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
						th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">结算类型：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="settlementType" :duplex="@dup.settlementType">
								<option value="0" th:text="T0"></option>
								<option value="1" th:text="T1"></option>
						</select></td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">发布站来源统计：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="isIps" :duplex="@dup.isIps">
								<option value=true>开启</option>
								<option value=false>关闭</option>
							</select>
						</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">客服状态：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="serviceState" :duplex="@dup.serviceState">
								<option value=true>开启</option>
								<option value=false>关闭</option>
							</select>
						</td>
					</tr>
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">商户状态：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="state" :duplex="@dup.state">
								<option th:value="1" th:text="启用"></option>
								<option th:value="0" th:text="禁用"></option>
								<option th:value="2" th:text="审核中"></option>
						</select></td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">登陆器访问统计：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="isLogger" :duplex="@dup.isLogger">
								<option value=true>开启</option>
								<option value=false>关闭</option>
							</select>
						</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">留言功能：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<select name="leaveState" :duplex="@dup.leaveState">
								<option value=true>开启</option>
								<option value=false>关闭</option>
							</select>
						</td>
					</tr>
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">联系电话：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<input type="text" name="phoneNumber" th:class="text-word" :duplex="@dup.phoneNumber">
						</td>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">商户唯一标识：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<span :text="@dup.uuid"></span>
						</td>
						
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">商户密钥：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}">
							<span :text="@dup.secretKey"></span></td>
					</tr>
					<tr>
						<td th:align="right" th:valign="middle"
							th:class="@{borderright borderbottom bggray}">微信服务：</td>
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}" colspan="5">
							<span th:if = "${wechatInfo == null}" style="color:red"><span><strong>商户暂未绑定微信服务</strong></span></span>
							<span th:if = "${wechatInfo != null}"><a href = "javascript:void(0);" :click="@render.unbind(@dup.wechatInfo.id)" style="color:red;text-decoration: none;"><strong>点击解绑</strong><span style="color:green"><strong>(已绑定)</strong></span></a></span>
						</td>					
					</tr>
					<tr th:onMouseOut="@{this.style.backgroundColor='#ffffff'}"
						th:onMouseOver="@{this.style.backgroundColor='#edf5ff'}">
						<td th:align="left" th:valign="middle"
							th:class="@{borderright borderbottom main-for}" th:colspan="6"
							th:style="@{text-align: center;}"><input type="button"
							:click="@commit" th:value="提交" th:class="text-but">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</form>
	<div th:replace="manage/common/common_js :: work"></div>
	<script th:inline = "javascript">
	var options = {
		id:{
			id:"detail"
		},
		commit:{
			type:"post",
			url:"/man/merchant/update",
			form:"form"
		},
		render:{
			frozen:function(e){
				window.parent.frozen(e);
			},
			edit:function(e){
				window.parent.bank(e);
			},
			reset:function(){
				var id = $("input[name='id']").val();
				window.parent.reset(id);
			},
			unbind:function(id){
				window.parent.unbind(id);
			}
		}
	}
	var vm = work(options);
	vm.dup = {
		bank:[[${bank}]],
		id:[[${merchant.id}]],
		nickname:[[${merchant.nickname}]],
		account:[[${merchant.account}]],
		joinDate:[[${merchant.joinDate}]],
		parentId:[[${merchant.parentId}]],
		type:[[${merchant.type}]],
		servicePhone:[[${merchant.servicePhone}]],
		serviceQQ:[[${merchant.serviceQQ}]],
		qqNumber:[[${merchant.qqNumber}]],
		fee:[[${merchant.fee}]],
		settlementType:[[${merchant.settlementType}]],
		isIps:[[${merchant.isIps}]],
		secretKey:[[${merchant.secretKey}]],
		state:[[${merchant.state}]],
		isLogger:[[${merchant.isLogger}]],
		leaveState:[[${merchant.leaveState}]],
		serviceState:[[${merchant.serviceState}]],
		rankId:[[${merchant.rank.id}]],
		uuid:[[${merchant.uuid}]],
		phoneNumber:[[${merchant.phoneNumber}]],
		wechatInfo:[[${wechatInfo}]]
	}

</script>
</body>
</html>
