<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>chart</title>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
</head>

<body>
	<!-- 首页报表统计图 -->
	<div th:fragment="index" th:if = "${role eq 'administrator'}">
		<div class="col-md-2">
			<div class="col-md-2-title" style="box-shadow: 2px 2px 2px #D5E1F1;">
				<span class="time"><b style="color: #2790F7;">数据统计</b></span>
			</div>
			
			<div class="col-md-2-left">
				<div class="col-md-center" style="height: 300px;">
					<div class="main-corpy"
						style="background:url(/assets/images/main/sum_table.png) no-repeat 0 6px;">&nbsp;</div>
					<div style="font-size:14px; font-weight:bold; color:#4e4e4e;"></div>
					<div>
						<div style="height: 270px;" id="echarts_pay">
							<script>
								$(function() {
									$.ajax({
										type : "get",
										url : "/man/order/analyse",
										success : function(data) {
											var myChartIndex = echarts.init(document.getElementById('echarts_pay'));
											var option = {
												title : {
													text : '日时间段交易统计'
												},
												toolbox : {
													feature : {
														saveAsImage : {}
													}
												},
												tooltip : {
													trigger : 'axis',
													axisPointer : {
														type : 'cross',
														label : {
															backgroundColor : '#6a7985'
														}
													}
												},
												legend : {
													data : [ '商户利润', '充值金额', '平台利润' ]
												},
												grid : {
													left : '2%',
													right : '3%',
													bottom : '3%',
													containLabel : true
												},
												xAxis : [ {
													type : 'category',
													boundaryGap : false,
													data : data.dates
												} ],
												yAxis : [ {
													type : 'value'
												} ],
												series : [
													{
														name : '商户利润',
														type : 'line',
														stack : '总量',
														areaStyle : {
															normal : {}
														},
														data : data.merchantProfits,
														itemStyle : {
															normal : {
																label : {
																	show : true
																}
															}
														}
													},
													{
														name : '充值金额',
														type : 'line',
														stack : '总量',
														areaStyle : {
															normal : {}
														},
														data : data.payAmounts,
														itemStyle : {
															normal : {
																label : {
																	show : true
																}
															}
														}
													},
													{
														name : '平台利润',
														type : 'line',
														areaStyle : {
															normal : {}
														},
														data : data.platformProfits,
														itemStyle : {
															normal : {
																label : {
																	show : true
																}
															}
														}
													}
												]
											};
											myChartIndex.setOption(option, true);
											window.addEventListener("resize", function() {
												myChartIndex.resize();
											});
										}
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2-right">
				<div class="col-md-center" style="height: 300px;">
					<div class="main-corpy"
						style="background:url(/assets/images/main/sum_table.png) no-repeat 0 6px;">&nbsp;</div>
					<div style="font-size:14px; font-weight:bold; color:#4e4e4e;"></div>
					<div>
						<div style="height: 270px;" id="echarts_day">
							<script>
								$(function() {
									$.ajax({
										type : "get",
										url : "/man/day/analyse",
										success : function(data) {
											var myChartIndex = echarts.init(document.getElementById('echarts_day'));
											var option = {
												title : {
													text : '近十五日交易统计'
												},
												toolbox : {
													feature : {
														saveAsImage : {}
													}
												},
												tooltip : {
													trigger : 'axis',
													axisPointer : {
														type : 'cross',
														label : {
															backgroundColor : '#6a7985'
														}
													}
												},
												legend : {
													data : [ '商户利润', '充值金额', '平台利润' ]
												},
												grid : {
													left : '2%',
													right : '3%',
													bottom : '3%',
													containLabel : true
												},
												xAxis : [ {
													type : 'category',
													boundaryGap : false,
													data : data[5]
												} ],
												yAxis : [ {
													type : 'value'
												} ],
												series : [
													{
														name : '商户利润',
														type : 'line',
														stack : '总量',
														areaStyle : {
															normal : {}
														},
														data : data[2],
														itemStyle : {
															normal : {
																label : {
																	show : true
																}
															}
														}
													},
													{
														name : '充值金额',
														type : 'line',
														stack : '总量',
														areaStyle : {
															normal : {}
														},
														data : data[1],
														itemStyle : {
															normal : {
																label : {
																	show : true
																}
															}
														}
													},
													{
														name : '平台利润',
														type : 'line',
														areaStyle : {
															normal : {}
														},
														data : data[4],
														itemStyle : {
															normal : {
																label : {
																	show : true
																}
															}
														}
													}
												]
											};
											myChartIndex.setOption(option, true);
											window.addEventListener("resize", function() {
												myChartIndex.resize();
											});
										}
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2-left">
				<div class="col-md-center" style="height: 300px;">
					<div class="main-corpy"
						style="background:url(/assets/images/main/sum_table.png) no-repeat 0 6px;">&nbsp;</div>
					<div style="font-size:14px; font-weight:bold; color:#4e4e4e;"></div>
					<div>
						<div style="height: 270px;" id="echarts_mer">
							<script type="text/javascript">
								$(function() {
									$.ajax({
										type : "get",
										url : "/man/merchant/analyse",
										success : function(data) {
											var myChartIndex = echarts.init(document.getElementById('echarts_mer'));
											var option = {
												type : 'scroll',
												title : {
													text : '商户日交易统计',
													subtext : '支付金额',
													x : 'center'
												},
												color : [ "#2196F3", "#C23531", "#2f4554", "#61a0a8", "#d48265", "#91c7ae", "#749f83", "#ca8622", "#bda29a", "#6e7074", "#546570", "#c4ccd3" ],
												tooltip : {
													trigger : 'item',
													formatter : "{a} <br/>{b} : {c} ({d}%)"
												},
												legend : {
													type : 'scroll',
													orient : 'vertical',
													right : 10,
													top : 20,
													bottom : 20,
													data :  data.nickNames,
													selected : data.nickNames
												},
												series : [
													{
														name : '支付金额(单位：元)',
														type : 'pie',
														radius : '55%',
														center : [ '40%', '50%' ],
														data :  data.pie,
														itemStyle : {
															emphasis : {
																shadowBlur : 10,
																shadowOffsetX : 0,
																shadowColor : 'rgba(0, 0, 0, 0.5)'
															}
														}
													}
												]
											};
											myChartIndex.setOption(option, true);
											window.addEventListener("resize", function() {
												myChartIndex.resize();
											});
										}
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2-right">
				<div class="col-md-center" style="height: 300px;">
					<div class="main-corpy"
						style="background:url(/assets/images/main/sum_table.png) no-repeat 0 6px;">&nbsp;</div>
					<div style="font-size:14px; font-weight:bold; color:#4e4e4e;"></div>
					<div>
						<div style="height: 270px;" id="echarts_pro">
							<script type="text/javascript">
								$(function() {
									$.ajax({
										type : "get",
										url : "/man/product/analyse",
										success : function(data) {
											var myChartIndex = echarts.init(document.getElementById('echarts_pro'));
											var option = {
												title : {
													text : '产品日交易统计'
												},
												color : [ '#006699', '#4cabce', '#e5323e' ],
												tooltip : {
													trigger : 'axis',
													axisPointer : {
														type : 'shadow'
													}
												},
												legend : {
													data : [ '充值金额', '商户利润', '平台利润' ]
												},
												toolbox : {
													show : true,
													orient : 'vertical',
													left : 'right',
													top : 'center',
													feature : {
														mark : {
															show : true
														},
														dataView : {
															show : true,
															readOnly : false
														},
														magicType : {
															show : true,
															type : [ 'line', 'bar', 'stack', 'tiled' ]
														},
														restore : {
															show : true
														},
														saveAsImage : {
															show : true
														}
													}
												},
												calculable : true,
												xAxis : [ {
													type : 'category',
													axisTick : {
														show : false
													},
													data : data.productNames
												} ],
												yAxis : [ {
													type : 'value'
												} ],
												series : [
													{
														name : '充值金额',
														type : 'bar',
														barGap : 0,
														data : data.payAmounts
													},
													{
														name : '商户利润',
														type : 'bar',
														data : data.merchantProfits
													},
													{
														name : '平台利润',
														type : 'bar',
														data : data.platformProfits
													}
												]
											};
											myChartIndex.setOption(option, true);
											window.addEventListener("resize", function() {
												myChartIndex.resize();
											});
										}
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
